/* 13px PT Sans Caption (Default) */
body{font: 13px/22px "PT Sans Caption", Arial, sans-serif;}
h1,h2,h3,h4,h5,h6{font-family: "PT Sans Caption", Arial, sans-serif;}

.logo-row .top-description{line-height:18px;}

/*menu*/
.side-menu > li > a{ font-size: 14px;}
.mega-menu table td .wrap > a { font-size: 14px; }
.side-menu .submenu > li > a{font-size: 13px; line-height: 14px;}
.side-menu .submenu{font-size:12px;}
#headerfixed .menu-block .navs ul li a{font-size:13px;}

/*.side-menu .submenu > li > a{font-size: 14px; line-height: 14px;}
.mega-menu table td .wrap > a{font-size:15px;}
.side-menu > li > a{font-size:15px;}
.side-menu .submenu{font-size:14px;}*/
.dropdown-menu{font-size:14px;}

.banners-small .item .image .type-block{font-size:12px;}
.banners-small .item .title{ font-size: 14px; }
.item-views.list .item .title{font-size: 14px;}
.form-control{ height: 43px;}
.phone .more_phone{font-size:13px;}
.subscribe-block-wrapper .text{font-size:15px;}

.stickers .stickers-wrapper > div{font-size:9px;line-height: 15px;}
.main-block .prop_title_table .item .prop-block, .main-block .item .prop-block{font-size:11px;}

/*catalog*/
.item-views.sections .item .title a{line-height:20px;}
.bx_item_detail_inc_two .list-type-block.item-views .item > .body-info .title{font-size:11px;}
.item-views .item .price .price_old .price_val, .item-views .item .price .price_old .fa, .order-block .price .price_old .price_val, .order-block .price .price_old .fa{font-size:12px;}
.item-views .item .price .price_val, .order-block .price .price_val{font-size:16px;}
.properties .inner-wrapper{font-size:12px;}
body .buy_block .counter input, body .footer-button .buy_block .counter input{height:35px;}
.btn-inline.sm{font-size:12px;}
.select-outer select{font-size:12px;}
.accordion-head { font-size: 14px; }

/*basket*/
.top-block .top-block-item .basket-link  .count{}
.foot .remove>span:before{margin-top:-2px;}

/*news*/
.item-views .item .period span, .detail .period span{font-size:12px;}

/*services*/
.item-views.sections.front .item .title a, .item-views.sections .row_block .item .title a{font-size:13px;}

/*staff*/
.item-views.staff-items.table-type-block .item .post{font-size:12px;}
.staff.item-views.list .item .post{font-size:12px;}

/*reviews*/
.reviews.item-views .item .post{font-size: 13px;}
.reviews.item-views .item .text{font-size:13px;}

/*search path*/
.search-page .path{font-size:10px;}

/*contacts*/
.form.contacts .title{font-size:18px;}
.contacts.contacts-page-map-overlay table td{font-size:11px;}

@media (min-width:768px){
	body .subscribe-block-wrapper .text{padding-right: 7px;}
}

/*font*/
body.all_title_2 .item-views.list .item .title, body.all_title_2 .item-views.table .item .title a, body.all_title_2 .module_products_list td.item-name-cell .title,
body.all_title_2 .item-views.sections .item .title a, body.all_title_2 .wrap_tizer .wrap_outer .inner_text, body.all_title_2 .sections_wrapper .list .item .name, body.all_title_2 .head-block .item-link .title,
body.all_title_2 .news_block .item .name{font-weight: 500;}
body.all_title_2 .banners-big .slides .title{font-weight: 500;}
body.all_title_2 .bx-yandex-view-layout .pane_info_wrapper .pane_info .title_block{font-weight: 500;}
body.all_title_2 .portfolio.item-views .link .item .top_title, body.all_title_2 .wrap_tizer .preview, body.all_title_2 .float-banners .items .item .title, body.all_title_2 .licenses.item-views.table .item .title,
body.all_title_2 .tabs .nav.nav-tabs a, body.all_title_2 .accordion-head, body.all_title_2 .banners-small .item .title, body.all_title_2 .title-block-middle, body.all_title_2 .title-block-big,
body.all_title_2 .item-views.table.with-comments .item .title, body.all_title_2 .item-views.table-elements .item .body-info .title{font-weight: 500;}
body.all_title_2 .basket .items .item .description .name, body.all_title_2 .basket_order .items>.head .title{font-weight: 500;}
body.all_title_2 .titles_block, body.all_title_2 .form .form-header .title, body.all_title_2 .dark_table, body.all_title_2 .form.contacts .title, body.all_title_2 .tizers_block2 .item .title .top-text{font-weight: 500;}