.branches{
	-ms-flex-wrap : wrap;
	flex-wrap : wrap;
}
.flex{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.branches__list{
	width: 30%;
}
.YMap{
	width: 70%;
	height: 600px;
}
/* если на сайте нет стандартных стилей для кнопки можно раскомментировать эти:*/
/*.branches__city {*/
	/*font-size: 18px;*/
	/*font-weight: 700;*/
	/*width: 234px;*/
	/*cursor: pointer;*/
	/*box-shadow: 0px 2px 4px #B2A6A6;*/
	/*text-align: center;*/
	/*padding: 5px 0px;*/
	/*border-bottom: 1px solid;*/
	/*position: relative;*/
	/*z-index: +1;*/
/*}*/
/*.branches__elements {*/
	/*width: 234px;*/
	/*max-height: 300px;*/
/*}*/
/*.branches__elements div {*/
	/*margin: 5px 0px 5px !important;*/
	/*overflow: hidden;*/
/*}*/

.branches__city, .branches__elements{
	width: 100%;
}
.branches__elements{
	overflow: hidden;
	overflow-y: auto;
}
.branches__elementsInner{
	margin-top: 25px;
	margin-bottom: 25px;
}
.branches__element {
	padding: 10px;
	line-height: 17px;
	font-size: 13px;
	cursor: pointer;
}
.branches__elementText{
	margin-left: 10px;
}

.branches__balloonHeader{
	font-weight:bold;
	font-size: 90%;
}
.branches__balloonBody{
	font-size:14px;
}
@media (max-width: 768px) {
	.branches__list{
		width: 100%;
	}
	.YMap{
		width:100%;
	}
}
